;FIX CHANNELS
modify:
{
	match:
	{
		"targetname" "ice_text"
		"classname" "game_text"
	}
	replace:
	{
		"channel" "5"
	}
}
modify:
{
	match:
	{
		"targetname" "fire_text"
		"classname" "game_text"
	}
	replace:
	{
		"channel" "5"
	}
}
modify:
{
	match:
	{
		"targetname" "wind_text"
		"classname" "game_text"
	}
	replace:
	{
		"channel" "5"
	}
}
modify:
{
	match:
	{
		"targetname" "heal_text"
		"classname" "game_text"
	}
	replace:
	{
		"channel" "5"
	}
}
modify:
{
	match:
	{
		"targetname" "electro_text"
		"classname" "game_text"
	}
	replace:
	{
		"channel" "5"
	}
}
modify:
{
	match:
	{
		"targetname" "gravity_text"
		"classname" "game_text"
	}
	replace:
	{
		"channel" "5"
	}
}
modify:
{
	match:
	{
		"targetname" "text3"
		"classname" "game_text"
	}
	replace:
	{
		"channel" "0"
	}
}
modify:
{
	match:
	{
		"targetname" "text4"
		"classname" "game_text"
	}
	replace:
	{
		"channel" "3"
	}
}