;Faster teleport.
modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "big_gate"
	}
	insert:
	{
		"OnFullyOpen" "AFKTele,Enable,,40,-1"
	}
}

modify:
{
	match:
	{
		"classname" "func_door"
		"origin" "2068 -7872 -128"
	}
	insert:
	{
		"OnFullyOpen" "AFKTele,Enable,,40,-1"
	}
}

;Player sillyness... Touch opens.
modify:
{
	match:
	{
		"classname" "func_door"
		"targetname" "door 1"
	}
	replace:
	{
		"spawnflags" "1280"
	}
}

modify:
{
	match:
	{
		"classname" "func_door"
		"origin" "4588 -7872 -128"
	}
	replace:
	{
		"spawnflags" "1280"
	}
}

modify:
{
	match:
	{
		"classname" "func_door"
		"origin" "2068 -7872 -128"
	}
	replace:
	{
		"spawnflags" "1280"
	}
}

;Hurt increase, so CT's cannot get ahead without taking boat.
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"origin" "3343 -4125.5 -1635.5"
	}
	replace:
	{
		"damagecap" "8"
		"damagemodel" "1"
	}
} 