;FIX CHANNELS/POS
modify:
{
	match:
	{
		"targetname" "show_stages"
		"classname" "game_text"
	}
	replace:
	{
		"y" "0.115"
		"holdtime" "12"
		"channel" "3"
	}
}
modify:
{
	match:
	{
		"targetname" "nrk_gametext"
		"classname" "game_text"
	}
	replace:
	{
		"channel" "5"
	}
}

;stop people from staying alive at the back of the laser room
add:
{
	"classname" "func_brush"
	"origin" "5216 2303 192"
	"angles" "0 0 90"
	"model" "*16"
	"rendermode" "10"
}