;Did players forget to nuke? Donkeys!
modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "truck_2_path_2"
	}
	insert:
	{
		"OnPass" "nuke_button,Press,,10,1"
	}
}

;Players don't know that this door never reopens... So, we'll reopen it with the idea for zombies only and difficulty.
modify:
{
	match:
	{
		"classname" "trigger_once"
		"origin" "2512 3336 256"
	}
	insert:
	{
		"OnStartTouch" "water_door_move,Open,,48,1"
	}
}

;Buyzone fix. Late players can buy on any buyzone.
modify:
{
	match:
	{
		"classname" "func_buyzone"
	}
	replace:
	{
		"TeamNum" "0"
	}
}

;Post panorama players can spawn on the very first round wherever the point_camera/first spawn point is.
;Meaning they can get ahead (or stuck) where they shouldn't be.
filter:
{
	"classname" "point_viewcontrol"
}